
/* GENERAL */
* { 
    padding :0;
    margin:0;
}

/* NAVIGATION PANE */

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    width: 100vh;

  }
  
  .navbar a {
    background-color: #980202;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .navbar a:hover {
    background-color: #b5cbba;
    color: black;
  }
  

/* FORM HEADING  */
body {
    background-color: #E3FDFF;

}
.title{
    display: block;
    position: relative;
    
}
h1 {
    background-color: #b5cbba;
    font-size: 300%;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    ;
    color:#900202;
    margin: 20px 370px 0 370px;
    padding-top: 20px;
    padding-bottom: 20px;
}
h2 {
    font-family: 'Mulish', sans-serif;
    text-align: left;
    font-size: 100%;
    margin-bottom: 0;
    color: #900202;  
   
}
h2.intro {
    background-color: #E3FDFF;
    margin-left: 370px;
    margin-right: 370px;
    margin-top: 0;
    padding-top: 50px;
}


/* FORM */
.form {
    font-family: 'Mulish', sans-serif;
    text-align: left;
    height: 500px;
    padding-top: 50px;
    background-color: #E3FDFF;
    margin-left: 370px;
    margin-right: 370px;
}
input { 
    width: 700px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;  
}
label {
    line-height: 1.6em;
    font-weight: bold;
    color: #900202;
    margin-right: 20px;
    
}
input.bday {
    width: 220px;
    margin-right: 12px;
}
::placeholder {
    font-style: italic;
    padding-left: 5px;
}


/* SUBMIT BUTTON */
.button{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 150%;
    background-color: #900202;
    color: #fff;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    padding:5px;
    border: 1px solid  #b5cbba;
    border-radius: 5px;
    letter-spacing: 2px;
}
.button:hover {
    cursor: pointer;
    background-color:#EDCBB1;
    transition: color .1s ease-in, background-color .1s ease-in;
}

.button:active {
    font-size: 30px;
    transition: font-size .1s ease-in-out;

}

/* RADIO BUTTON */
input.radio{
    width: 20px;
    float:left;
    padding-top: 5px;
    padding-left: 100px;
    margin-right: 5px;
    
}

/* PRIVACY AND LINKS */
h2.terms {
    margin-bottom: 20px;
    padding-left: 5px;
}

.privacy { 
    background-color: #EDCBB1;
   
}
a.terms:link {
    color: #b5cbba;
    text-decoration: none;
}
  
a.terms:visited {
    text-decoration: none;
}
  
a.terms:hover {
    text-decoration: underline;
    color: #900202;
}
  
a.terms:active {
    color: #900202;
    text-decoration: underline;
}


/* AM MUTAT FOOTERUL SA NU SE OVERLAY CU PRIVACY NOTICE */
/* FOOTER */
footer {
    display: block;
    margin-top: 200px;
    background-color: #B5ccba;
    padding: 20px 20px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    line-height: 30px;

}

.search-input{
    width: 200px;
    height: 30px;
}

.search-button {
    width: 34px;
    height: 34px;
    background-color: #900202;
    color: #ffffff;
}